body {
  background-color: #ffcdbe;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
}

/* other colors
pastel orange: #FFCDBE
bright orange: ##FF5E2C
blue: #009EEC


*/
#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  background-color: #ffcdbe;
}

.App {
  padding: 20px;
  width: 100%;
  max-width: 960px;
}

.topwrapper {
  background-color: white;
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
  border-radius: 24px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.04);
}

/* Header */
.Header {
  margin-bottom: 24px;
}

.Header h1 {
  font-family: "Pacifico", cursive;
  color: #ff5e2c;
}

.Header h1 span {
  color: #009eec;
  text-shadow: none;
}

/* Citysearch */
.CitySearch {
  margin-bottom: 20px;
}

.city {
  width: 100%;
  max-width: 600px;
  height: 40px;
  padding: 4px;
  padding-left: 8px;
  border-radius: 8px;
  border: 1px solid #18171c;
  color: #18171c;
  text-align: center;
  cursor: pointer;
}

.city:focus {
  border: 2px solid #009eec;
}

.suggestions {
  list-style: none;
  width: 100%;
  max-width: 600px;
  padding-left: 0;
  margin: 0 auto;
}

.suggestions li {
  padding: 4px 0;
  cursor: pointer;
}

/* Number of Events */
.NumberOfEvents {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.results {
  font-weight: 700;
  font-size: 20px;
}

.eventsnumber_input {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #ffcdbe;
  color: #18171c;
  width: 64px;
  margin-left: 8px;
  background-color: #ffe0d6;
  text-align: center;
}

.EventList {
  padding: 0;
  list-style: none;
}

/* Event */

.EventList li {
  border: 1px solid #f2f2f2;
  border-radius: 4px 12px 12px 12px;
  color: #18171c;
  background-color: white;
  margin-bottom: 16px;
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.04);
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 8px 0 12px;
}

/* .EventList li:nth-child(3n - 2)  */

.EventList li:nth-child(even) .summary {
  color: #009eec;
}

.EventList li:nth-child(odd) .summary {
  color: #ff5e2c;
}

.EventList li:nth-child(even) .detailBtn {
  background-color: #ff5e2c;
}

.EventList li:nth-child(odd) .detailBtn {
  background-color: #009eec;
}

.event {
  padding: 12px;
}

.summary {
  font-size: 28px;
  font-weight: bold;
}

.organizer {
  font-size: 14px;
}

.detailBtn {
  margin: 8px 0 12px;
  background-color: #ff5e2c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.linkwrapper {
  display: flex;
  align-items: center;
  margin: 8px 0 8px;
}

.calenderLink {
  margin-left: 4px;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 80%;
}
